/* HEADER */

.header {
    background-color: #3A373B;
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.icon {
    display: flex;
}
.icon img {
    height: 40px;
    margin: auto;
}
.name {
    text-align: center;
    margin: auto;
    color: #1DA961;
    font-family: "Raleway";
}
.nav h3 {
    margin: auto;
    font-size: smaller;
}
.nav a {
    color: #F4F7F4;
    margin: auto;
}
.nav a:hover {
    color: #1DA961;
    text-decoration: none;
}

/* Welcome Message */

.welcome {
    background-color: #F4F7F4;
    padding-top: 55px;
}
h1 {
    text-align: center;
    margin: 80px 15% 40px;
    font-family: "Raleway";
    font-weight: 800;
    color: #1DA961;
}
.welcome h4 {
    text-align: center;
    margin: 40px 25% 80px;
    font-family: "Cabin";
    color: #3A373B;
}
/* About me */
.about-image {
    background-image: url(./images/About-pic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.about h5 {
    font-family: "Cabin";
    color: #F4F7F4;
    padding: 40px 10%;
}
#about {
    display: flex;
    align-items: flex-end;
    text-align: justify;
}
.about {
    background-color: #1DA961;
}

/* Projects */

.projects {
    background-color: #3A373B;
}
.projects-container {
    display: flex;
    justify-content: space-around;
    margin: 0 40px 60px;
    flex-wrap: wrap;
}
.projects-container h3 {
    text-align: center;
    color: #F4F7F4;
    padding-top: 30px;
    font-family: "Raleway";
}
.project {
    height: 176px;
    width: 300px;
    position: relative;
    margin: 20px;
    display: none;
}
.project img {
    width: 100%;
    border-radius: 5px;
}
.project p {
    width: 100%;
    padding: 20px 10px;
    position: absolute;
    bottom: 0px;
    background-color: #1DA961; 
    color: #F4F7F4;
    font-size: smaller;
    display: none;
    margin: 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
    font-family: "Cabin";
}
.project:hover p {
    display: block;
}
.project:hover img{
    opacity: .4;
}
.slide-container {
    position: relative;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -22px 20px 0 20px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.github {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.github a {
    text-decoration: none;
    color: #F4F7F4;
    font-family: "Cabin";
    background-color: #3A373B;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}
.github img {
    padding-right: 15px;
}


/* Work History */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.resume-logo {
    width: 50%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-right: 30px;
}
#redbirds {
    background-image: url(./images/redbirds.png);
    margin-top: 20px;
}
#fc {
    background-image: url(./images/901fc.png);
    margin-top: 0;
}
#SOS {
    background-image: url(./images/sos.png);
    margin-top: 38px;
}
#BDC {
    background-image: url(./images/bdc.png);
    margin-top: 35px;
}
#tech901 {
    background-image: url(./images/tech901.webp);
    margin-top: 38px;
}
#mizzou{
    background-image: url(./images/mizzou.png);
    margin-top: 19px;
}
.work {
    padding: 30px 150px 30px 30px;
    color: #3A373B;
    font-family: "Cabin";
}
.experience {
    background-color: #F4F7F4;
}
.work h3 {
    text-decoration: underline;
}
.workheader h4{
    font-weight: 700;
}
.workheader {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.job-description {
    text-align: justify;
}
.button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button a {
    text-decoration: none;
    color: #3A373B;
}
.button a:hover {
    opacity: .6;
}
.button h5 {
    background-color: #F4F7F4;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(58, 55, 58, .5);
    font-family: "Cabin";
}

/* Contact */

.col-12 {
    padding: 0;
}
.social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1DA961;
    padding: 40px;
}
.social {
    height: 80px;
    width: 80px;
    margin: 40px;
}
.insta {
    background-image: url(./images/insta-light.png);
    background-size: contain;
}
.insta:hover {
    background-image: url(./images/insta-dark.png);
}
.linkedin {
    background-image: url(./images/linked-light.png);
    background-size: contain;
}
.linkedin:hover {
    background-image: url(./images/linked-dark.png);
}
.twitter {
    background-image: url(./images/twitter-light.png);
    background-size: contain;
}
.twitter:hover {
    background-image: url(./images/twitter-dark.png);
}
.facebook {
    background-image: url(./images/facebook-light.png);
    background-size: contain;
}
.facebook:hover {
    background-image: url(./images/facebook-dark.png);
}
.mail {
    background-image: url(./images/mail-light.png);
    background-size: contain;
}
.mail:hover {
    background-image: url(./images/mail-dark.png);
}
.phone {
    background-image: url(./images/phone-light.png);
    background-size: contain;
}
.phone:hover {
    background-image: url(./images/phone-dark.png);
}

/* Footer */

.footer {
    background-color: #3A373B;
    color: #F4F7F4;
    padding: 40px;
    text-align: center;
    font-family: "raleway";
}
.footer h6 {
    padding: 30px;
    font-family: "Cabin";
}
.dog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer img {
margin: 20px;
width: 300px;
}