/* HEADER */

.header {
    background-color: #3A373B;
    height: 55px;
}
.header img {
    height: 40px;
    padding: 0 30px;
    margin: auto;
}
.header h3 {
    margin: auto;
    font-size: smaller;
}
.header a {
    color: #F4F7F4;
    margin: auto;
}
.header a:hover {
    color: #1DA961;
    text-decoration: none;
}

/* Welcome Message */

.welcome {
    background-color: #F4F7F4;
}
h1 {
    text-align: center;
    margin: 80px 15% 40px;
    font-family: "Raleway";
    font-weight: 800;
    color: #1DA961;
}
.welcome h4 {
    text-align: center;
    margin: 40px 25% 80px;
    font-family: "Cabin";
    color: #3A373B;
}
/* About me */
.about-image {
    background-image: url(./images/About-pic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.about h5 {
    font-family: "Cabin";
    color: #F4F7F4;
    padding: 40px 10%;
}
#about {
    display: flex;
    align-items: flex-end;
    text-align: justify;
}
.about {
    background-color: #1DA961;
}

/* Projects */

.projects-container {
    display: flex;
    justify-content: space-around;
    margin: 60px 40px;
    flex-wrap: wrap;
}
.project {
    width: 300px;
    position: relative;
    margin: 20px;
}
.project img {
    width: 100%;
}
.project p {
    /* width: 100%; */
    padding: 20px 10px;
    position: absolute;
    bottom: 0px;
    background-color: #1DA961; 
    color: #F4F7F4;
    font-size: smaller;
    display: none;
    margin: 0;
    text-align: center;
}
.project:hover p {
    display: block;
}
.project:hover img{
    opacity: .4;
}
