/* HEADER */
.header {
    background-color: #3A373B;
    height: 55px;
}
.header img {
    height: 40px;
    padding: 0 30px;
    margin: auto;
}
.header h3 {
    margin: auto;
    font-size: smaller;
}
.header a {
    color: #F4F7F4;
    margin: auto;
}
.header a:hover {
    color: #1DA961;
    text-decoration: none;
}
/* Welcome Message */
.welcome {
    background-color: #F4F7F4;
}
.welcome h1 {
    text-align: center;
    margin: 80px 15% 40px;
    font-family: "Raleway";
    font-weight: 800;
    color: #1DA961;
}
.welcome h4 {
    text-align: center;
    margin: 40px 25% 80px;
    font-family: "Cabin";
    color: #3A373B;
}
/* About me */
.about-image {
    background-image: url(./images/About-pic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.about h5 {
    font-family: "Cabin";
    color: #F4F7F4;
    padding: 20px 10%;
}
#about {
    display: flex;
    align-items: flex-end;
    text-align: justify;
}
.about {
    background-color: #1DA961;
}